* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v434_32 {
  width: 100%;
  height: 1892px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v434_154 {
  width: 447px;
  height: 207px;
  background: rgba(51,51,51,1);
  opacity: 1;
  position: absolute;
  top: 1105px;
  left: 53px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
